<!DOCTYPE html>
{% extends 'todo/base.html' %} {% block title %} Profile {% endblock title %}

{% block content %}
<div class="mt-5 container">

    <h1>Profile</h1>
    <table class="table table-primary">
        <tbody align='left'>
            <tr>
                <td>Username:</td>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <td>Account created:</td>
                <td>{{user.date_joined}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
    
